<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
    <link rel="stylesheet" href="css/explore.css">
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Leaflet style sheet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.1.0/assets/css/leaflet.css" />
    <!-- Leaflet Geosearch CDN -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />
</head>

<body>


    <div id="map"></div>
    <%- include('partials/header') %>
        <div id="locationInformationButton"></div>
        <div id="locationInformationContainer" style="display: none;">
            <p id="output"></p>
        </div>

        <div class="filterControl">
            <div class="filterButton"><svg width="25px" height="25px" viewBox="0 0 128 128" data-name="Слой 1"
                    id="Слой_1" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: #bdbdbd;
                            }

                            .cls-2 {
                                fill: #404040;
                            }
                        </style>
                    </defs>
                    <title />
                    <polygon class="cls-1" points="126 2 2 2 50 49.76 50 125.69 78 98.22 78 50 126 2" />
                    <path class="cls-2"
                        d="M50,127.69a2,2,0,0,1-2-2V50.59L.59,3.42A2,2,0,0,1,2,0H126a2,2,0,0,1,1.41,3.41L80,50.83V98.22a2,2,0,0,1-.6,1.43l-28,27.47A2,2,0,0,1,50,127.69ZM6.85,4,51.41,48.35A2,2,0,0,1,52,49.76v71.16L76,97.38V50a2,2,0,0,1,.59-1.41L121.17,4Z" />
                </svg></div>
            <div class="filterOptions">
                <label><input type="checkbox"> Only Show Your Sightings</label>
            </div>
        </div>

        <div id="sightingsCountBar">
            <div id="observationHeader">
                <p>Sightings:</p>
            </div>
            <div class="sightings">
                <p>In View: </p>
                <p id="visibleSightings"></p>
            </div>
            <div id="yourSightings">
                <p>Yours: </p>
                <p id="yourSightingsCount"></p>
            </div>
            <div class="sightings">
                <p>Total: </p>
                <p id="totalSightingsCount"></p>
            </div>
        </div>
        <%- include('partials/footer') %>

            <!-- Leaflet library -->
            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
            <!-- Leaflet Geosearch -->
            <script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>
            <script src="scripts/explore.js"></script>
</body>

</html>