body {
    padding: 0;
    margin: 0;
}

html,
body,
#map {
    height: 100%;
    width: 100vw
}

#map {
    z-index: -1;
}

/* Style all labels inside the layer control */
.leaflet-control-layers label {
    background-color: #f0f0f0;
    /* light gray background */
    padding: 4px 6px;
    margin: 2px 0;
    border-radius: 4px;
    display: block;
    /* ensures background covers full label */
    transition: background-color 0.3s;
}

/* Optional: hover effect */
.leaflet-control-layers label:hover {
    background-color: #d0e6ff;
    /* light blue on hover */
}